.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    height: 100vh;          /* Sets the container height to the viewport height */
    
}

.room{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 20%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    
}

.sign-out{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}
.header{
    background-color: #B6D6CC;
}
.chat-app{
    /* display: flex;
    background-color: #F1FEC6;
    flex-direction: column; */
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

.new-msg{
    display: flex;
}
.messages{
    
}
.user{
    font-size: 1.2rem;
    font-weight: 600;
}

